{
  "plugins": [
    ["import", {
      "libraryName": "vant",
      "libraryDirectory": "es",
      "style": true
    }, "vant"],
    ["import", {
      "libraryName": "iview",
      "libraryDirectory": "src/components"
    }, "iview"]
  ]
}
